*{
   margin: 0;
   padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #f1f1f1;
  font-family: Arial, Helvetica, sans-serif;
}




.topnav {
  overflow: hidden;
  position: relative;
  background-color: ;
  font-family: arial;
  text-transform: uppercase;
  font-weight: bold;
  height: 105px;
  width: 100%;
  z-index: 1;
}

.nav-container{
  margin: auto;
  /*box-shadow: 10px 10px 10px 10px cyan;*/
  background-color: midnightblue;
  /*background-image: linear-gradient(#040b4f, #040b4f);*/
  /*background-image: linear-gradient(135deg,rgb(2,3,129) 0%,rgb(40,116,252) 100%);*/
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 105px;
  display: ;
  padding-top: 1px;
}

.nav-1 {
  color: white;
  text-align: ;
  width: 100%;
  height: 40px;
  position: relative;
  display: inline-flex;
  justify-content: space-evenly;
  padding: 10px;
  background-color: dodgerblue;
  top: 0px;
  word-wrap: break-word;
  word-break: keep-all;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
}

.nav-1 .fas {
  background-color: inherit;
  color: white;
  font-size: 15px;
  border: none;
  cursor: pointer;
  width: auto;
  padding-right: 10px;
}

.nav-1 .fas:hover, .nav-1 .fas:focus {
  background-color: inherit;
}

.nav-1-1, .nav-1-2, .nav-1-3 {
  display: inline-flex;
  font-size: small;
  text-transform: lowercase;
  background-color: ;
  position: relative;
}

.nav-1-2, .nav-1-3 {
  text-transform: capitalize;
}

.nav-1-2 button {
  color: white;
  background-color: cadetblue;
  border: none;
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
  margin: auto;
  position: relative;
  bottom: 4px;
  display: flex;
  margin-left: 4px;
}

.nav-3 {
  position: relative;
  width: 100%;
  height: 66px;
  display: flex;
  background-color: dodgerblue;
  border-bottom-right-radius: ;
  justify-content: space-between;
  padding: 0px 30px;
}



.image{
  position: relative;
  bottom: ;
  width: 20%;
  height: 50px;
  margin: auto;
  background-color: ;
}

.image img{
  width: 50%;
  height: 100%;
  border-radius: ;
  object-fit: cover;
}


.container{
  background-color: yellow;
  width: 40%;
  margin: auto;
  box-shadow: 0px 0px 7px 1px grey;
  position: relative;
  bottom: ;
  left: ;
  opacity: .8;
  border-radius: 15px;
}

#search{
  background-color: white;
  color:white;
  margin: 0;
  padding: 10px 20px;
  font-size: 15px;
  font-weight: normal;
  width: 100%;
  border: none;
  border-radius: 10px;
}
#search:hover{
    background-color: #3285c4;
}

/* list style */
ul{
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 50vh;
  overflow-y: scroll;
  display: ;
}
li{ 
  cursor: pointer;
  background-color: #fff;
  height: 40px;
  line-height: 40px;
  color: #666;
  padding-left: 20px;
  display: none;
}

li:hover{
  background-color: lightgray;
}


.user{
  width: 30%;
  display: inline-flex;
  margin: auto;
  justify-content: space-between;
}

.user-list1, .user-list2, .user-list3 {
  display: inline-flex;
}

.user-list1-icon, .user-list2-icon {
  display: flex;
  position: relative;
  color: white;
}

.user-list2 #basket {
  display: flex;
  position: relative;
  right: 16px;
  background-color: darkorange;
  width: 30px;
  height: 30px;
  padding: 6px 10px;
  border-radius: 50%;
  color: white;
}

#fav {
  position: relative;
  right: 25px;
  top: 10px;
}

.user-list3 {
  cursor: pointer;
}

.user .fas{
  font-size: 40px;
  color: midnightblue;
}

.user-list2 span {
  position: relative;
  left: -8px  ;
}

.user span {
  font-size: 10px;
  margin: auto;

}










#navbar {
  background-color: midnightblue;
  position: fixed;
  height: 200px;
  top: ;
  width: 100%;
  display: block;
  transition: top 0.3s;
  padding-left: 1px;
  border-left: 1px solid gray;
}


.navbar-row1 {
  position: relative;
  height: 50px;
  width: 100%;
  background-color: ;
  display: flex;
  padding: 10px 0px;
  top: 100px;
  overflow: ;

}

.navbar-row2 {
  position: relative;
  height: 50px;
  width: 100%;
  background-color: ;
  display: flex;
  padding: 10px 0px;
  top: 94px;
  margin-bottom: ;
  overflow: ;
}

 
.topnav .icon {
  display: none;
  padding: 8px 20px;
  z-index: 1;
  position: relative;
}

.topnav .fa-caret-right {
  display: none;
}

#active {
  background-color: darkgreen;
  color: white;
  margin-left: ;
}


.dropbtn {
  font-size: 12px;    
  border: none;
  outline: none;
  text-align: center;
  color: #f2f2f2;
  width: 158px;
  padding: 14px 16px;
  background-color: inherit;
  font-family: serif;
  margin: 0;
  text-transform: capitalize;
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
  position: relative;
  display: ;
  float: ;
  overflow: ;

}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 250px;
  height: auto;
  overflow: hidden;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 10px;
  padding-bottom: 20px;
  padding-top: 20px;
  opacity: .9;
  left: -50px;
  top: ;
}

.dropdown-content a {
  color: blue;
  padding: 12px 20px;
  text-decoration: none;
  display: block;
  width: 100%;
  font-size: 12px;
  background-color: ;
  border-bottom: 1px solid gray;
  text-transform: capitalize;
}

.dropdown a:hover {
  background-color: gray;
}

.show {
  display: block;
}









@media screen and (max-width: 600px) {
  .topnav, .nav-container{
    width: 100%;
    background-color: ;
  }


  #navbar {
 /* background-color: midnightblue;
  position: fixed;
  height: 150px;
  top: -100px;
  width: 100%;
  display: block;
  transition: top 0.3s;*/
  height: 150px;
  background-color: dodgerblue;
}

  .container{
    display: ;
    left: 10%;
    float: left;
    width: 50%;
  }

  .image{
    position: absolute;
    left: 2%;
    top: 3px;
    width: 14%;
    height: 60px;
  }

  .image img {
   width: 100%;
  }

  .nav-1-2 {
    top: 97px;
    z-index: 1;
    min-width: 33%;
    padding: 8px 2px;
    left: 20px;
    background-color: midnightblue;
    margin: auto;
  }

  .nav-1-2 .fas {
    font-size: 25px;
    position: relative;
    left: 8px;
  }

  .nav-1-2 button {
    text-transform: uppercase;
    font-size: 12px;
    background-color: inherit;
  }

  .nav-1-3 {
    font-size: 10px;
    right: ;
    min-width: 40%;
  }

  .nav-1-1 {
    font-size: 10px;
    left: 30px;
  }

  .user-list1 {
    display: inline-grid;
    position: relative;
    top: ;
    left: 20px;
    background-color: ;
    min-width: 50%;
  }

  .user span {
    font-size: 8px;
  }

  .user-list2 {
    display: inline-grid;
    position: relative;
    top: ;
    left: 25px;
    background-color: ;
  }

  .user-list3 {
    display: block;
    position: relative;
    top: 57px;
    display: flex;
    right: 125px;
    width: ;
    background-color: midnightblue;
    padding: 0px 23px;
    height: 42px;
  }

  .user-list3 .fas {
    font-size: 23px;
    margin: auto;
    color: white;
  }

  .user-list3 span {
    font-size: 11px;
    color: white;
  }

  .navbar a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }

  .topnav .icon {
    display: block;
    border-right: none;
    position: relative;
    color: white;
    top: 106px;
    text-decoration: none;
    font-size: 12px;
    background-color: midnightblue;
    z-index: 1;
    width: 33%;
  }

  .topnav .icon-txt {
    font-size: 12px;
  }


}



@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: fixed;
    background-color: dodgerblue;
    /*min-height: 100vh;*/
    height: 150px;
    /*min-height: -webkit-fill-available;*/
    z-index: 1;
    opacity: ;
    width: 100%;
    top: 0px;
  }

  .topnav.responsive .icon {
    position: absolute;
    bottom: ;
    padding-left: 20px;
    width: ;
    border-bottom: none;
  }

  .topnav.responsive .nav-2 {
    display: block;
    width: 100%;
    padding: 0px;
  }


 .nav-2 .active{
    margin-left: 0px;
    position: relative;
    display: none;
    margin-top: 43px;
  }

  /*.topnav.responsive .active {
    position: relative;
    top: ;
  }*/

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
    border-right: none;
    border-bottom: 2px solid gray;
    width: 100%;
  }

  .topnav.responsive #navbar {
    overflow-y: scroll;
    height: 100vh;
    width: 60%;
  } 

  .topnav.responsive .navbar-row1 {
    position: relative;
    height: ;
    width: 100%;
    background-color: ;
    display: none;
    padding: ;
    top: 140px;
    overflow: ;
    display: grid;
    z-index: 1;

  }

  .topnav.responsive .navbar-row2 {
    position: relative;
    height: auto;
    width: 100%;
    background-color: ;
    display: none;
    padding: ;
    top: 540px;
    margin-bottom: ;
    overflow: ;
    display: grid;
  }


  .topnav.responsive .dropdown {
    float: none;
    border-right: none;
    border-bottom: 1px solid gray;
    width: 100%;
  }
  .topnav.responsive .dropdown-content {
    position: relative;
    padding-bottom: 0px;
    left: 30%;
    z-index: 1;
  }

  .topnav.responsive #dropBtn {
    display: flex;
    justify-content: space-between;
  }

  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
    border-right: none;
    padding-left: 10px;
  }

  .topnav.responsive .fa-caret-right {
    display: block;
  }

  .topnav.responsive .fa-caret-down {
    display: none;
  }

  .topnav.responsive .container {
    display: block;
  }


  .topnav.responsive #active {
  background-color: darkgreen;
  display: flex;
  justify-content: space-between;
}


}








#adsArea{
  display: flex;
  width: 100%;
  height: 500px;
  padding: ;
  border: 2px solid gray;
  margin-top: 95px;
}

.slideshow-container {
  width: 80%;
  height: 500px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
  width: 100%;
  height: 496px;
}
.mySlides img {
  vertical-align: ;
  width: 100%;
  height: 100%;
  object-fit: fill;
}


.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: gray;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  position: relative;
  bottom: 40px;
}

.active {
  background-color: /*#717171*/ blue;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}








#ads{
  width: 20%;
  height: 500px;
  padding: 10px;
}

#ads1, #ads2{
  height: 50%;
}

#ads1{
  padding-bottom: 5px;
}

#ads2{
  padding-top: 5px;
}

#ads img{
  height: 100%;
  width: 100%;
  object-fit: fill;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
   #adsArea {
    display: table;
    position: relative;
    height: 400px;
    background-color: ;
  }

  .slideshow-container, .mySlides, .mySlides img{
    width: 100%;
    height: 250px;
    background-color: ;
  }

  #ads {
    display: flex;
    width: 100%;
    height: 150px;
  }
  #ads1 {
    padding: 0px 5px 0px 0px;
    width: 50%;
    height: 100%;
  }
  #ads2 {
    padding: 0px 0px 0px 5px;
    width: 50%;
    height: 100%;
  }

  #ads img {
    width: ;
  }
}









#right{
  width: 100%;
  border: 2px solid gray;
  display: grid;
  height: 100%;
}

.row-one-h{
  margin-top: 0px;
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
  color: white;
  width: 100%;
  height: 40px;
  padding: 10px;
  background-image: linear-gradient(to right,green,violet);
}

.row-two-h, .row-three-h {
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-transform: capitalize;
  color: white;
  height: 40px;
  padding: 10px;
  margin-top: 0px;
  background-image: linear-gradient(to right,blue,violet);
}


.row-two-h h5, .row-three-h h5, .row-one-h h5{
  color: green;
  cursor: pointer;
}

.row-one, .row-two, .row-three {
  display: flex;
  height: 300px;
  width: 100%;
  background-color: ;
  float: left;
}

.row-three{
  margin-top: 70px;
}

#detailsContainer, #detailsContainer2,
#detailsContainer3, #detailsContainer4,
#detailsContainer5, #detailsContainer6,
#detailsContainer7, #detailsContainer8,
#detailsContainer9, #detailsContainer10,
#detailsContainer11, #detailsContainer12{
  width: 100%;
  position: relative;
  margin: auto;
}


.all-product {
  width: 100%;
  height: ;
  background-color: ;
  display: ;
}


.all-product img {
  width: 25%;
  height: 210px;
  display: flex;
  position: relative;
  float: left;
  padding: 5px;
}


.naija-ingredient, .others {
  width: 100%;
  display: flex;
}

.naija-ingredient img, .others img{
  width: 100%;
  height: 200px;
  display: flex;
  position: relative;
  object-fit: scale-down;
  cursor: pointer;
  
}


.pro-details {
  width: 16.6%;
  display: grid;
  background-color: white;
  margin-right: 10px;
}

.pro-name {
  width: 100%;
  display: grid;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  height: 60px;
  padding-top: 10px;
  background-color: ;
}

.name {
  text-align: center;
  width: 100%;
  font-size: 12px;
}
.name a {
  text-decoration: none;
  color: black;
}

.price {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  padding: 12px 5px 0px 5px;
  background-color: ;
}

.price .fas {
  font-weight: normal;
  color: blue;
  cursor: pointer;
}

.pro-btn {
  width: 100%;
  margin: auto;
  padding: 5px;
  display: grid;
  justify-content: center;
}

.pro-btn button {
  width: auto;
  padding: 7px 10px;
  background-color: darkgreen;
  color: white;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  user-select: auto;
}

#miNus {
  border-radius: 7px 0px 0px 7px;
}

#plus {
  border-radius: 0px 7px 7px 0px;
  background-color: ;
}



#under-btn {
  display: none;
  position: ;
  
}


#countBtn {
  background-color: white;
  color: gray;
  border: 1px solid gray;
  padding: 6px 12px;
}







.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: darkcyan;
  z-index: ;
  opacity: .8;
}

.next {
  right: 0px;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: 0px;
}

.prev:hover, .next:hover {
  background-color: blue;
}


.row-two .prev, .row-two .next {
  cursor: pointer;
  position: relative;
  display: inline-flex;
  height: 25px;
  width: 20px;
  padding: 3px;
  color: white;
  font-weight: bold;
  font-size: 15px;
  transition: 0.6s ease;
  border-radius: 50%;
  user-select: none;
  background-color: darkcyan;
  z-index: ;
  left: 95%;
}

.row-two .prev:hover, .row-two .next:hover {
  background-color: blue;
}






.ads3{
  width: 100%;
  height: 120px;
  position: relative;
  top: 40px;
  margin-top: 30px;
  background-color: darkorange;
}

.ads3 img{
  width: 100%;
  height: 100%;
}



@media screen and (max-width: 600px) {
  #contentArea{
    display: table;
    position: relative;
  }

  #right{
    width: 100%;
  }

  .left-bottom {
    display: none;
    position: ;
    z-index: 1;
    top: 165vh;
  }

  .row-one {
    height: 300px;
    margin-bottom: 190px;
  }

  .all-product{
    width: 100%;
    display: grid;
    overflow: ;
  }

  .all-product img {
    width: 50%;
  }

  .row-two, .row-three {
    height: 300px;
  }

  .naija-ingredient, .others {
    width: 100%;
    display: flex;
    overflow: hidden;
    height: 100%;
  }

  .pro-details {
    min-width: 48%;
    height: 100%;
  }


}









.partner{
  margin-top: 40px;
  text-align: center;
  text-transform: capitalize;
  background-color: paleturquoise;
  padding: 10px;
  color: darkcyan;
  width: 100%;
}

.partner-row {
  width: 100%;
  display: flex;
}

.partner-list{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}


.partner-list img{
  width: 50px;
  height: 40px;
  margin: 20px 3px;
  cursor: pointer;
}







#more {
  display: none;
  cursor: pointer;
}

#myBtn {
  float: left;
  cursor: pointer;
}

.flip-box {
  background-color: transparent;
  width: 100%;
  height: ;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
}

.flip-box-inner h4 {
  padding: 20px;
  user-select: none;
  font-size: 12px;
  font-weight: bold;
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  word-wrap: break-word;
  word-break: keep-all;
}

/*.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-box-front {
  background-color: #bbb;
  color: black;
}

.flip-box-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}
*/


@media screen and (max-width: 600px) {
  .partner-row {
  width: 100%;
  display: grid;
}

}






















::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  height: 5px;
  box-shadow: inset 0 0 5px gray;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: midnightblue;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: dodgerblue; 
}



.snacks-main {
  display: flex;
  padding: 10px;
  margin-top: 100px;
}

.snacks-category {
  width: 14.5%;
  margin-right: 10px;
  background-color: ;
  position: fixed;
  min-height: 90vh;
}

.snacks-category h3 {
  width: 100%;
  background-color: darkorange;
  color: white;
  text-align: center;
  font-size: 15px;
  padding: 10px 0px;
  text-transform: capitalize;
}

.snacks-check {
  padding: 15px;
  width: 100%;
  overflow-y: scroll;
  position: relative;
  max-height: 70vh;
  background-color: ;
}

.snacks-check div {
  margin-bottom: 10px;
  cursor: pointer;
}

.snacks-check input {
  background-color: ;
  cursor: pointer;
}

.snacks-check span {
  font-size: 12px;
  font-family: cursive;
  padding-left: 8px;
  text-transform: capitalize;
}





.snacks-content {
  width: 85%;
  margin-left: 10px;
  position: relative;
  left: 14.5%;
  background-color: ;
}

.snacks-content-ads {
  width: 100%;
  height: 150px;
  position: relative;
  margin-bottom: 40px;
}

.snacks-content-ads h2 {
  text-align: center;
  width: 100%;
  text-transform: capitalize;
}

.snacks-content-ads img {
  width: 100%;
  height: 100%;
}

.snacks-content-product {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  left: 5px;
}


.snacks-content-product img{
  width: 100%;
  height: 200px;
  display: flex;
  position: relative;
  object-fit: scale-down;
  
}

.snacks-content-product .pro-details {
  margin-bottom: 10px;
  width: 15.9%;
}

.snacks-pages {
  display: flex;
  position: relative;
  top: ;
  padding: 20px;
  width: 100%;
  justify-content: center;
}

.pre-nxt {
  width: 50%;
  float: left;
  display: flex;
  justify-content: end;
}

.pre-nxt button {
  background-color: white;
  padding: 10px;
  border: 1px solid darkgreen;
  border-right: 1px solid darkgreen;
  position: relative;
  cursor: pointer;
}

.pre-nxt button:hover {
  background-color: lightskyblue;
}

.pre-nxt .default {
  background-color: darkgreen;
  color: white;
}

.pre-nxt .pre {
  border-radius: 5px 0px 0px 5px;
}

.pre-nxt .nxt {
  border-radius: 0px 5px 5px 0px;
}

.snacks-total-product {
  width: 40%;
  float: right;
  text-align: right;
  font-size: 15px;
  color: darkcyan;
}

.not-visible {
  display: none;
}

#snacksTxt {
  background-color: white;
  padding: 10px;
}

.snacks-txt {
  font-size: 12px;
  padding-top: 10px;
}


@media screen and (max-width: 600px) {
  .snacks-main {
    display: grid;
    padding: 10px;
    margin-top: 50px;
  }

  .snacks-category {
    width: 100%;
    margin-right: 10px;
    background-color: ;
    position: static;
    min-height: 60px;
  }
  .snacks-category h3 {
    position: relative;
    width: 100%;
  }
  .snacks-check {
    padding: 15px;
    width: 100%;
    overflow-y: scroll;
    position: relative;
    max-height: ;
    display: none;
  }




  .snacks-content {
    width: 100%;
    position: relative;
    left: 0px;
    margin-left: 0px;
    top: 0px;
  }
  .snacks-content-product {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
  }


  .snacks-content-product img{
    width: 100%;
    height: 200px;
    display: flex;
    position: relative;
    object-fit: scale-down;
    
  }

  .snacks-content-product .pro-details {
    margin-bottom: 10px;
    min-width: 47%;
    background-color: ;
  }

  .pre-nxt {
    width: 65%;
    float: left;
    display: flex;
    justify-content: end;
  }

  .snacks-total-product span {
    font-size: 10px;
  }
}













footer {
  width: 100%;
  height: 400px;
  text-align: center;
  background-color: #040b4f;
  /*position: fixed;
  left: 0;
  bottom: -200px;*/
  width: 100%;
  z-index: 1;
  position: relative;
}

.footer-row-1{
  width: 100%;
  height: 100px;
  background-color: dodgerblue;
  position: relative;
  border-bottom-right-radius: 150px;
  border-top-left-radius: 150px;
}

.footer-row-1 img {
  width: 100%;
  height: 100px;
  padding-top: 10px;
  padding-left: 50px;
  background-color: ;
}

.footer-row-2{
  width: 100%;
  height: 250px;
  background-color: ;
  display: flex;
}

.footer-col-1, .footer-col-2, .footer-col-4, .footer-col-5{
  width: 16.65%;
  height: 100%;
  color: white;
  padding-top: 80px;
  margin-right: 5px;
  background-color: ;
  color: white;
  padding-top: 80px;
}

.footer-col-1 {
  border-radius: 0px 10px 0px 0px ;
}

.footer-col-3 {
  width: 33.3%;
  background-color: dodgerblue;
  color: white;
  padding-top: 80px;
  height: 80%;
  border-radius: 0px 0px 10px 10px;
  border-right: 2px solid darkblue;
  border-left: 2px solid darkblue;
}

.footer-row-3 {
  width: 100%;
  height: 50px;
  background-color: ;
}
